* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

button {
    background-color: #F84646;
    color: #FFF;
    font-weight: 500;
    font-size: 1.5rem;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
}

#presentation-container {
    padding: 2.5rem 7.5rem;
    height: 100vh;
    background: url('./assets/header.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#presentation {
    width: 37.5rem;
}

.container {
    padding: 5rem 7.5rem;
    text-align: center;
}

.contact-title {
    margin-top: .5rem;
}

.container > p {
    margin-top: 1.5rem;
}

.container > button {
    margin-top: 2rem;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

.container > button:hover {
    opacity: .8;
    transform: scale(1.1);
}

.background-red {
    background-color: #F84646;
    color: #FFF;
}

.background-gray {
    background-color: #F4F5F7;
}

#qualities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 2.5rem;
}

.article-container {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.article-container > img {
    width: 50%;
    object-fit: cover;
}

.article-container:nth-child(even){
    flex-direction: row-reverse;
    margin-top: 5rem;
}

.article-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: space-between;
}

.article-details > button {
    font-size: 1rem;
}

.footer-list {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.footer-list > ul > li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-list > ul > li:first-child {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.footer-list > ul > li:last-child {
    list-style: none;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7.5rem;
    margin-top: 1.5rem;
}
.grid-item > h3 {
    margin-top: .5rem;
}

.grid-item > p {
    margin-top: .5rem;
}

.grid-container-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 3rem;
    gap: 1.5rem;
}

.company-1 {
    grid-area: 3 / 1;
}

.company-2 {
    grid-area: 2 / 2;
}

.company-3 {
    grid-area: 3 / 2;
}

.company-4 {
    grid-area: 1 / 3;
}

.company-5 {
    grid-area: 2 / 3;
}

.company-6 {
    grid-area: 3 / 3;
}

.company-7 {
    grid-area: 2 / 4;
}

.company-8 {
    grid-area: 3 / 4;
}

.company-9 {
    grid-area: 3 / 5;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #presentation-container {
        padding: 5rem 4rem;
    }

    .container {
        padding: 5rem 4rem;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container-companies {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        margin-top: 3rem;
        gap: 1.5rem;
    }

    .company-1 {
        grid-area: auto;
    }
    
    .company-2 {
        grid-area: auto;
    }
    
    .company-3 {
        grid-area: auto;
    }
    
    .company-4 {
        grid-area: auto;
    }
    
    .company-5 {
        grid-area: auto;
    }
    
    .company-6 {
        grid-area: auto;
    }
    
    .company-7 {
        grid-area: auto;
    }
    
    .company-8 {
        grid-area: auto;
    }
    
    .company-9 {
        grid-area: auto;
    }
} 

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    #presentation-container {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #qualities {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }

    #qualities > img {
        transform: rotate(90deg);
    }

    .article-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .article-container:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
    }

    .article-details {
        text-align: center;
        align-items: normal;
        margin: 2 rem 0 0;
    }

    .article-container:nth-child(even) > .article-details {
        margin: 2 rem 0 0;
    }

    .article-container > img {
        width: 100%;
    }

    .grid-container-companies {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-top: 3rem;
        gap: 1.5rem;
        text-align: center;
    }

    .company-1 {
        grid-area: auto;
    }
    
    .company-2 {
        grid-area: auto;
    }
    
    .company-3 {
        grid-area: auto;
    }
    
    .company-4 {
        grid-area: auto;
    }
    
    .company-5 {
        grid-area: auto;
    }
    
    .company-6 {
        grid-area: auto;
    }
    
    .company-7 {
        grid-area: auto;
    }
    
    .company-8 {
        grid-area: auto;
    }
    
    .company-9 {
        grid-area: auto;
    }

    .footer-list {
        flex-direction: column;
        justify-content: center;
    }

    .footer-list > ul {
        margin-top: 2rem;
    }

    .footer-copyright {
        flex-direction: column-reverse;
    }

    .footer-copyright > div:first-child {
        margin-top: 4rem;
    }
}    